{% extends "bitbank/base.html" %}
{% block content %}
<table class="table table-responsive">
    <thead>
        <th>通貨</th>
        <th>レート</th>
        <th>超えたら/下回ったら</th>
        <th>通知日時</th>
    </thead>
    <tbody>
       {% for alert in alert_list %}
        <tr>
            <td>{{ alert.pair }}</td>
            <td>{{ alert.threshold }}</td>
            <td>{{ alert.over_or_below }}</td>
            <td>{{ alert.alerted_at }}</td>
            <td><a href="{% url 'bitbank:alert_detail' alert.pk %}">詳細</a></td>
        </tr>
        {% endfor %}            
    </tbody>
</table>
{% endblock %}