{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
            <div class="card">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{form.pair}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{form.threshold}}
                        </div>
                        <hr>
                        <div class="col-md-6 col-xs-12">
                            {{form.over_or_below}}
                        </div>
                    </div>
                    <hr>
                    {% csrf_token %}
                    <div class="col-4 offset-4">
                        <button type="submit" class="btn btn-block green_button">登録</button>
                    </div>
                </div>
            </div>        
        </div>
    </div>
      
</form>
{% endblock %}
{% block extra_js %}
    <script>

        function call_get_assets_api() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_assets" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }

        function call_get_ticker_api(pair) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_ticker" %}',
                'type': 'GET',
                'dataType': 'json',
                'data': {
                    'pair': pair
                },
            });
        }

    </script>
{% endblock %}