{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body">

                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <div class="row">
                    <div class="col-6">
                        <button type="submit" id="login_button" class="btn btn-block green_button" >ログイン</button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'bitbank:user_create' %}" class="btn btn-block red_button">新規登録</a>
                    </div>    
                </div>
                    
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
