{% extends "bitbank/base.html" %}
{% block content %}
{% csrf_token %}
<table class="table">
    <tbody>
        <tr>
            <th>取引ID</th>
            <td>{{ order.order_id }}</td>
        </tr>
        <tr>
            <th>注文時間</th>
            <td>{{ order.ordered_at }}</td>
        </tr>

            <th>通貨</th>
            <td>{{ order.pair }}</td>
        </tr>
        <tr>
            <th>買い/売り</th>
            <td>{{ order.side }}</td>
        </tr>
        <tr>
            <th>注文方法</th>
            <td>{{ order.order_type }}</td>
        </tr>
        <tr>
            <th>注文価格</th>
            <td>{{ order.price }}</td>
        </tr>
        <tr>
            <th>逆指値価格</th>
            <td>{{ order.limit_price }}</td>
        </tr>
        <tr>
            <th>注文数量</th>
            <td>{{ order.start_amount }}</td>
        </tr>
        <tr>
            <th>約定通知</th>
            <td>{{ order.notify_if_filled }}</td>
        </tr>
    
        <tr>
            <th>金額到達通知</th>
            <td>{{ order.notify_if_reach }}</td>
        </tr>
            
        <tr>
            <th>未約定数量</th>
            <td>{{ order.remaining_amount }}</td>
        </tr>
        <tr>
            <th>約定済数量</th>
            <td>{{ order.executed_amount }}</td>
        </tr>
        <tr>
            <th>約定平均価格</th>
                <td>{{ order.average_price }}</td>
            </tr>
        <tr>
            <th>注文ステータス</th>
            <td>{{ order.status }}</td>
        </tr>
        <tr>
            <th>最終更新時間</th>
            <td>{{ order.updated_at }}</td>
        </tr>
        
    </tbody>
</table>
<a class="btn green_button" href="{% url 'bitbank:order_list' %}">一覧へ戻る</a>
<button class="btn green_button" id="cancel_order_button">この注文をキャンセルする</button>
{% endblock %}
{% block extra_js %}
<script>
    $('#cancel_order_button').on('click', function() {
        $.ajax({
            'url': '{% url "bitbank:ajax_cancel_order" %}',
            'type': 'POST',
            'dataType': 'json'
        }).done( response => {
            //エラーコードがセットされていない場合はページ再読み込み
            if (!response.code && !response.error) {
                alert('正常にキャンセルされました');
                location.href = window.locatioon.href;
            } else {
                if (response.error) {
                    alert(response.error);
                } else {
                    alert('想定外のエラーです');
                }
            }
        });
    });
</script>

{% endblock %}

