{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-11 offset-md-1 col-xs-12" style="font-size: 2vmin">
            <div class="tab">
                <button id="order_button" type="button" class="tablinks" onclick="openTab(event, 'order')">注文</button>
                <button id="active_orders_button" type="button" class="tablinks" onclick="openTab(event, 'active_orders')">アクティブ注文</button>
                <button id="order_history_button" type="button" class="tablinks" onclick="openTab(event, 'order_history')">注文履歴</button>
                <button id="alert_button" type="button" class="tablinks" onclick="openTab(event, 'alerts')">アラート</button>
                <button id="asset_button" type="button" class="tablinks" onclick="openTab(event, 'assets')">保有資産</button>
                <input id="id_filter_by_pair" type="checkbox" checked data-toggle="toggle" data-onstyle="dark" data-offstyle="success" data-on="通貨絞り込み" data-off="全件表示" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-1 col-xs-12">
            <div id="id_ajax_message" class="alert">
            </div>
        </div>
    </div>      
            
    <div id="order" class="tabcontent">
        <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="alert">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">通貨</div>
                                </div>
                                {{form.pair}}
                                {{ form.pair.errors }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <div class="input-group-text placeholder">特殊注文</div>
                                </div>
                                {{form.special_order}}
                                {{ form.special_order.errors }}
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="btn-group d-flex" role="group">
                                <button id="buy_button" type="button" class="btn w-100 btn-base">買い</button>
                                <button id="sell_button" type="button" class="btn w-100 btn-base">売り</button>
                            </div>
                        </div>
                    </div>
                        
                    <div class="input-group xs-3" style="display: none">
                        {{form.side}}
                        {{ form.side.errors }}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">注文方法</div>
                                </div>
                                {{form.order_type}}
                                {{ form.order_type.errors }}
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    <div class="row show_if_limit_order">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <div class="input-group-text placeholder">注文価格</div>
                                </div>
                                {{form.price}}                  
                                <div class="input-group-append">
                                    <div class="input-group-text placeholder pair">jpy</div>
                                </div>
                                {{form.price.errors}}  
                            </div>
                        </div>
                    </div>
                    <div class="row show_if_stop_order">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">逆指値</div>
                                </div>
                                {{form.price_for_stop_limit}}                   
                                <div class="input-group-append">
                                    <div class="input-group-text placeholder pair">jpy</div>
                                </div>
                                {{form.price_for_stop_limit.errors}} 
                            </div>
                        </div>
                    </div>
                    <hr>  
                    
                    <hr>            
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <div class="input-group-text placeholder">数量</div>
                                </div>
                                {{form.start_amount}}
                                <div class="input-group-append">
                                    <div class="input-group-text placeholder unit">btc</div>
                                </div>
                                {{form.start_amount.errors}}
                                
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row d-flex justify-content-center">
                            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="0"/>
                            <span id="amount_percentage"></span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text placeholder">予想</div>
                                </div>
                                <input type="number" id="expect_price" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text placeholder pair">jpy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <hr>
                    <div class="row">
                        <div class="col-md-8 offset-md-3 col-xs-12">
                            <div class="input-group">
                                <button id="id_order_button" type="submit" class="btn btn-lg btn-block red_button">注文</button>
                            </div>  
                            {{ form.non_field_errors }}
                        </div>
                    </div>    
                </div>
            </div>
    </div>
    <div id="active_orders" class="tabcontent">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <table class="table table-responsive table-dark">
                    <thead>
                        <th>注文ID</th>
                        <th>通貨ペア</th>
                        <th>タイプ</th>
                        <th>売買</th>
                        <th>数量</th>
                        <th>価格</th>
                        <th>約定済数量</th>
                        <th>平均価格</th>
                        <th>注文日時</th>
                        <th>ステータス</th>
                        <th>キャンセル</th>  
                    </thead>
                    <tbody>      
                    </tbody>  
                </table>
            </div>
        </div>
    </div>  
    <div id="order_history" class="tabcontent">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <table class="table table-responsive table-dark">
                    <thead>
                        <th>注文ID</th>
                        <th>通貨ペア</th>
                        <th>タイプ</th>
                        <th>売買</th>
                        <th>数量</th>
                        <th>価格</th>
                        <th>約定済数量</th>
                        <th>平均価格</th>
                        <th>注文日時</th>
                        <th>ステータス</th>  
                    </thead>
                    <tbody>
                    </tbody>  
                </table> 
            </div>
        </div>
    </div>
    <div id="assets" class="tabcontent">
        <div class="row">
            <div class="col-md-6 offset-md-1 col-xs12">
                <div id="id_asset_message" class="alert">
                </div>
                <table id="asset_table" class="table table-sm table-dark">
                    <tr><th>合計評価額</th><td align="right" id="total_in_jpy"></td></tr>
                    <tr><th>日本円</th><td align="right" id="jpy"></td></tr>
                    <tr><th>ビットコイン</th><td align="right" id="btc"></td></tr>
                    <tr><th>リップル</th><td align="right" id="xrp"></td></tr>
                    <tr><th>ライトコイン</th><td align="right" id="ltc"></td></tr>
                    <tr><th>イーサリアム</th><td align="right" id="eth"></td></tr>
                    <tr><th>モナーコイン</th><td align="right" id="mona"></td></tr>
                    <tr><th>ビットコインキャッシュ</th><td align="right" id="bcc"></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div id="alerts" class="tabcontent">
        <div class="row">
            <div class="col-md-4 offset-md-1 col-xs-12">
                <label class="control-label" for="id_notify_if_filled">約定通知</label>
                <div class="btn-group d-flex" role="group">
                    <button id="notify_if_filled_off_button" type="button" class="btn w-100 btn-base">OFF</button>
                    <button id="notify_if_filled_on_button" type="button" class="btn w-100 btn-base">ON</button>      
                </div>
            </div>  
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 offset-md-1 col-xs-12">
                <div class="input-group">
                    <div class="input-group-prepend" style="display:table-cell; vertical-align:middle">
                        <div class="input-group-text placeholder">通知レート</div>
                    </div>
                    <input type="number" id="id_notice_rate" class="form-control">
                    <div class="input-group-append">
                        <div class="input-group-text placeholder pair">jpy</div>
                    </div>

                    <div class="input-group-append">
                        <button id="add_alert_button" class="btn green_button" type="button ">追加</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 offset-md-1 col-xs-12">
                <table class="table table-responsive table-dark">
                    <thead>
                        <th>通貨ペア</th>
                        <th>通知レート</th>
                        <th>キャンセル</th>
                    </thead>
                    <tbody>
                    </tbody>  
                </table>    
            </div>
        </div> 
    </div>      
</form>
{% endblock %}
{% block extra_js %}
    <script>
        STATUS = {
            'UNFILLED': '未約定',
            'PARTIALLY_FILLED': '一部約定済',
            'FULLY_FILLED': '約定済',
            'CANCELED_UNFILLED': 'キャンセル済',
            'CANCELED_PARTIALLY_FILLED': '一部キャンセル済',
            'READY_TO_ORDER': '未注文'
        }
        
        SELL_BUY = {
            'sell': '売',
            'buy' : '買'
        }
        //資産情報取得用
        var free_amounts = {
        };

        function return_formatted_datetime(unixtime) {
            var date = new Date(unixtime);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            return(year + "/" + month + "/" + day + " " + hours + ":" + minutes + ":" + seconds);
        }
        function call_get_assets_api(is_async = true) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_assets" %}',
                'type': 'GET',
                'dataType': 'json',
                'async': is_async
            });
        }
        function call_get_ticker_api(pair, is_async = true) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_ticker" %}',
                'type': 'GET',
                'dataType': 'json',
                'async': is_async,
                'data': {
                    'pair': pair
                },
            });
        }
        function call_cancel_order(pk) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_cancel_order" %}',
                'type': 'POST',
                'dataType': 'json',
                'data': {
                    pk: pk
                }
            });
        }
        
        function call_get_active_orders() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_active_orders" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }
        function call_get_order_history() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_order_history" %}',
                'type': 'GET',
                'dataType': 'json'
            });
            
        }
      
      
        function call_create_alert(pair, threshold, over_or_under) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_create_alert" %}',
                'type': 'POST',
                'dataType': 'json',
                'data': {
                    pair: pair,
                    threshold: threshold,
                    over_or_under: over_or_under
                }
            });
        }

        function call_deactivate_alert(pk) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_deactivate_alert" %}',
                'type': 'POST',
                'dataType': 'json',
                'data': {
                    pk: pk
                }
            });
        }

        function call_get_active_alerts() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_active_alerts" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }
        function call_get_notify_if_filled() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_notify_if_filled" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }
        function call_change_notify_if_filled(new_val) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_change_notify_if_filled" %}',
                'type': 'POST',
                'dataType': 'json',
                'data': {
                    notify_if_filled: new_val
                }
            });
        }
        function hyphen_if_null(subj) {
            if (subj == null || subj == undefined) {
                return '-';
            } else {
                return subj;
            }
        }
        
        
        function update_active_orders() {
            call_get_active_orders()
            .done(function(res) {
                var table_html = "";
                if (res.error) {
                    set_error_message($('#id_ajax_message'), res.error);
                    return;
                }
                $.parseJSON(res.active_orders).forEach(active_order => {
                    table_html += '<tr>';
                    table_html += '<td align="right">' + hyphen_if_null(active_order.fields.order_id) + '</td>';
                    table_html += '<td align="center">' + active_order.fields.pair + '</td>';
                    table_html += '<td align="center">' + active_order.fields.order_type + '</td>';
                    table_html += '<td align="center">' + SELL_BUY[active_order.fields.side] + '</td>';
                    table_html += '<td align="right">' + active_order.fields.start_amount + '</td>';
                    table_html += '<td align="right">' + hyphen_if_null(active_order.fields.price) + '</td>';
                    table_html += '<td align="right">' + hyphen_if_null(active_order.fields.executed_amount) + '</td>';
                    table_html += '<td align="right">' + hyphen_if_null(active_order.fields.average_price) + '</td>';
                    table_html += '<td align="right">' + return_formatted_datetime(parseInt(active_order.fields.ordered_at)) + '</td>';
                    table_html += '<td align="right">' + STATUS[active_order.fields.status] + '</td>';
                    table_html += '<td align="center"><button pk="' + active_order.pk + '" type="button" class="btn btn-outline-secondary" name="cancel_order_button"><i style="color:red" class="fa fa-close"></i></button></td>';  
                    table_html += '</tr>';
                });
                $('#active_orders').find('.table').children('tbody').html(table_html);
                //絞り込みする場合
                if ($('#id_filter_by_pair').prop('checked')) {
                    
                    var pair = $('#id_pair').val();
                    $('#active_orders > table > tbody > tr').each((i, row) => {
                        alert(i);
                        if ($(row).find("td:eq(1)").html() == pair) {
                            $(row).show();
                        } else {
                            alert($(row).find("td:eq(1)").html());
                            $(row).hide();
                        }
                    });
                }

                //キャンセルボタンクリック時のイベント追加
                $("button[name='cancel_order_button']").on('click', function() {
                    
                    var pk = $(this).attr('pk');
                    alert(pk);
                    call_cancel_order(pk)
                    .done(function(res) {
                        if (res.error) {
                            $('#id_ajax_message').html(res.error);
                            $('#id_ajax_message').removeClass('alert-success');
                            $('#id_ajax_message').addClass('alert-danger');
                            $('#id_ajax_message').show();
                            return;
                        }
                    
                        $('#id_ajax_message').html('正常にキャンセルされました');
                        $('#id_ajax_message').addClass('alert-success');
                        $('#id_ajax_message').removeClass('alert-danger');
                        $('#id_ajax_message').show();
                        $('#order_history_button').click();
                    })
                    .fail(function() {
                        set_error_message($('#id_ajax_message'));
                    });
                    
                });
            })
            .fail(function() {
                set_error_message($('#id_ajax_message'));
            });
        }
        function update_order_history() {
            call_get_order_history()
            .done(function(res) {
                var table_html = '';
                $.parseJSON(res.order_history).forEach(order => {
                    table_html += '<tr>';
                    table_html += '<td align="right">' + order.fields.order_id + '</td>';
                    table_html += '<td align="center">' + order.fields.pair + '</td>';
                    table_html += '<td align="center">' + order.fields.order_type + '</td>';
                    table_html += '<td align="center">' + SELL_BUY[order.fields.side] + '</td>';
                    table_html += '<td align="right">' + order.fields.start_amount + '</td>';
                    table_html += '<td align="right">' + hyphen_if_null(order.fields.price) + '</td>';
                    table_html += '<td align="right">' + order.fields.executed_amount + '</td>';
                    table_html += '<td align="right">' + order.fields.average_price + '</td>';
                    table_html += '<td align="right">' + return_formatted_datetime(order.fields.ordered_at) + '</td>';
                    table_html += '<td align="center">' + STATUS[order.fields.status] + '</td>';
                    table_html += '</tr>';
                    
                });
                $('#order_history').find('.table').children('tbody').html(table_html);
                //絞り込みする場合
                if ($('#id_filter_by_pair').prop('checked')) {
                    var pair = $('#id_pair').val();
                    $('#order_history > table > tbody > tr').each((i, row) => {
                        if ($(row).find("td:eq(1)").html() == pair) {
                            $(row).show();
                        } else {
                            $(row).hide();
                        }
                    });
                }
                
            })
            .fail(function() {
                set_error_message($('#id_ajax_message'));
            });
        }
      
        function update_alerts() {
            call_get_active_alerts()
            .done(function(res) {
                var table_html = '';
                $.parseJSON(res.active_alerts).forEach(active_alert => {
                    table_html += '<tr>';
                    table_html += '<td align="center">' + active_alert.fields.pair + '</td>';
                    table_html += '<td align="right">' + active_alert.fields.threshold + '</td>';
                    table_html += '<td><button name="' + active_alert.pk + '"  type="button" class="btn btn-outline-secondary" id="deactivate_alert_button"><i style="color:red" class="fa fa-close"></i></button></td>';
                    table_html += '</tr>';
                });
                $('#alerts').find('.table').children('tbody').html(table_html);
                //絞り込みする場合
                if ($('#id_filter_by_pair').prop('checked')) {
                    var pair = $('#id_pair').val();
                    $('#alerts > table > tbody > tr').each((i, row) => {
                        if ($(row).find("td:eq(0)").html() == pair) {
                            $(row).show();
                        } else {
                            $(row).hide();
                        }
                    });
                }
                $('#deactivate_alert_button').on('click', function() {
                    var pk = $(this).attr('name');
                    call_deactivate_alert(pk)
                    .done(function(res) {
                        if (res.error) {
                            alert(res.error);
                            return;
                        }
                        $('#id_ajax_message').html('通知設定を解除しました');
                        $('#id_ajax_message').addClass('alert-success');
                        $('#id_ajax_message').removeClass('alert-danger');
                        
                        $('#alert_button').click();
                        $('#id_ajax_message').show();
                    })
                    .fail(function() {
                       set_error_message($('#id_ajax_message'));
                    });
                });
            })
            .fail(function() {
                set_error_message($('#id_ajax_message'));
            });
        }
        function set_error_message(target, message="ログインし直してください") {
            $(target).addClass('alert-danger');
            $(target).removeClass('alert-success');
            $(target).html(message);
            $(target).show();
        }
        function update_assets() {
            call_get_assets_api()
            .done(response => {
                if (response.assets) {
                    var asset_html = "";
                    var total_asset_in_jpy = 0;
                    response.assets.forEach(asset => {
                        free_amounts[asset.asset] = asset.free_amount;
                        $('#' + asset.asset).html(asset.onhand_amount);
                        if (asset.asset == 'ltc' || asset.asset == 'eth') {
                            call_get_ticker_api(asset.asset + '_' + 'btc')
                            .done(function(res) {
                                if (res.error) {
                                    set_error_message($('#id_ajax_message'), res.error);
                                    return;
                                }
                                call_get_ticker_api('btc_jpy')
                                .done(function(res2) {
                                    total_asset_in_jpy += parseInt(res.buy) * parseInt(res2.buy) * asset.onhand_amount;
                                    $('#total_in_jpy').html(parseInt(total_asset_in_jpy));
                                })
                                .fail(function() {
                                    alert('failed');
                                });
                            })
                            .fail(function() {
                                $('#id_asset_message')
                            });
                        } else if (asset.asset != 'jpy') {
                            call_get_ticker_api(asset.asset + '_jpy')
                            .done(function(res) {
                                if (res.error) {
                                    set_error_message($('#id_ajax_message'), res.error);
                                    return;
                                }
                                total_asset_in_jpy += parseInt(res.buy * asset.onhand_amount);
                                $('#total_in_jpy').html(parseInt(total_asset_in_jpy));
                            })
                            .fail(function() {
                                set_error_message($('#id_ajax_message'));
                            });
                        } else {
                            total_asset_in_jpy += parseInt(asset.onhand_amount);
                            $('#total_in_jpy').html(parseInt(total_asset_in_jpy));
                        }
                    });
                    //$("#asset_table").html(asset_html);
                } else {
                    if (response.error) {
                        set_error_message($('#id_ajax_message'), response.error);
                    }
                }
            })
            .fail(function() {
                sset_error_message($('#id_ajax_message'));
            });
        }
        function openTab(evt, tab_id) {

            $('#id_ajax_message').hide();

            switch( tab_id ) {
                case 'order':
                    update_assets();
                    break;
                case 'active_orders':
                    update_active_orders();
                    break;
                case 'order_history':
                    update_order_history();
                    break;
                case 'alerts':
                    update_alerts();
                    break;
                case 'assets':
                    update_assets();
                    break;
            }

            // Get all elements with class="tabcontent" and hide them
            $('.tabcontent').each((i, tabcontent) => {
                $(tabcontent).hide();
            });
        

            // Get all elements with class="tablinks" and remove the class "active"
            $('.tablinks').each((i, tablink) => {
                $(tablink).removeClass('active');
            });

            // Show the current tab, and add an "active" class to the button that opened the tab
            $('#' + tab_id).show();
            evt.target.className += " active";
        }

        function display_price_div(order_type) {
            switch (order_type) {
                case '成行':
                    $('div.show_if_stop_order').hide();
                    $('div.show_if_limit_order').hide();
                    break;
                case '指値':
                    $('div.show_if_stop_order').hide();
                    $('div.show_if_limit_order').show();
                    break;
                case '逆指値':
                    $('div.show_if_stop_order').show();
                    $('div.show_if_limit_order').hide();
                    break;
                case 'ストップリミット':
                    $('div.show_if_stop_order').show();
                    $('div.show_if_limit_order').show();
                    break;
            }
        }

        $(function() {
            // スライダー初期化
            $('#ex1').slider({
                formatter: function(value) {
                    return 'Current value: ' + value;
                },
            });

            
            // スライダーイベント
            $('#ex1').slider().on('slide', function(ev){
                var newVal = $('#ex1').data('slider').getValue();
                $('#amount_percentage').html(newVal + '%');

                if($('#id_pair').val() == '') {
                    return;
                }
                var currency = $('#id_pair').val().split('_')[1];
                var free_amount = free_amounts[currency];
                
               
                if ($('#id_order_type').val() == '指値' || $('#id_order_type').val() == '逆指値' || $('#id_order_type').val() == 'ストップリミット') {
                    if ($('#id_price').val() != '' && $('#id_price').val() != 0) {
                        var floored = Math.floor((free_amount * newVal / ($('#id_price').val() * 100)) * 10000) / 10000;
                        $('#id_start_amount').val(floored);
                        $('#expect_price').val(Math.floor($('#id_price').val() * floored));                        
                    }
                } else if ($('#id_order_type').val() == '成行') {
                    var current_price;
                    call_get_ticker_api($('#id_pair').val())
                    .done(function (val) {
                        if ($('#id_side').val() == 'sell') {
                            current_price = val.sell;
                        } else {
                            current_price = val.buy;
                        }
                        var floored = Math.floor((free_amount * newVal / (current_price * 100)) * 10000) / 10000;
                        $('#id_start_amount').val(floored);
                        if (currency == 'jpy') {
                            $('#expect_price').val(Math.floor(current_price * floored));    
                        } else {
                            $('#expect_price').val(current_price * floored);    
                        }
                                            
                    })
                    .fail(function() {
                        set_error_message($('#id_ajax_message'));
                    })
                }
            });
 
            $('#id_pair').on('change', function() {
                // 数量、金額の通貨部分を更新
                var unit = $('#id_pair').val().split('_')[0];
                var currency = $('#id_pair').val().split('_')[1];
                if (currency != '') {
                    $('span.pair').html(currency);
                    $('span.unit').html(unit);
                }
                // 一覧タブを更新
                $('.tablinks.active').click();
            });
            
            
            //タイプによって金額入力ボックス表示・非表示
            var order_type = $('#id_order_type').val();
            // market注文の場合
            display_price_div(order_type);
            
            $('#id_order_type').on('change', function() {
                var new_order_type = $('#id_order_type').val();
                display_price_div(new_order_type);
            });
            

            // 売り買いボタン初期化
            if ($('#id_side').val() == 'sell') {
                $('#sell_button').addClass('sell').removeClass('btn-base');
                $('#buy_button').removeClass('buy').addClass('btn-base');
            } else {
                $('#buy_button').addClass('buy').removeClass('btn-base');
                $('#sell_button').removeClass('sell').addClass('btn-base');
            }

            //SELLボタンクリック
            $('#sell_button').on('click', function() {
                $('#sell_button').addClass('sell').removeClass('btn-base');
                $('#buy_button').removeClass('buy').addClass('btn-base');
                $('#id_side').val('sell');
            });
            
            //BUYボタンクリック
            $('#buy_button').on('click', function() {
                $('#buy_button').addClass('buy').removeClass('btn-base');
                $('#sell_button').removeClass('sell').addClass('btn-base');
                $('#id_side').val('buy');
            });
            
            //通知ONボタンクリック
            $('#notify_if_filled_on_button').on('click', function() {
                if ($(this).hasClass('on')) {
                    // すでにONの場合は何もしない
                } else {
                    call_change_notify_if_filled('ON')
                    .done(function(res) {
                        if (res.error) {
                            set_error_message($('#id_ajax_message'), res.error);
                            return;
                        }
                        $('#notify_if_filled_on_button').addClass('on').removeClass('btn-base');
                        $('#notify_if_filled_off_button').removeClass('off').addClass('btn-base');
                    })
                    .fail(function() {
                        set_error_message($('#id_ajax_message'));
                    });
                }
            });
            //通知OFFボタンクリック
            $('#notify_if_filled_off_button').on('click', function() {
                if ($(this).hasClass('off')) {
                    // すでにOFFの場合は何もしない
                } else {
                    call_change_notify_if_filled('OFF')
                    .done(function(res) {
                        if (res.error) {
                            set_error_message($('#id_ajax_message'), res.error);
                            return;
                        }
                        $('#notify_if_filled_on_button').removeClass('on').addClass('btn-base');
                        $('#notify_if_filled_off_button').addClass('off').removeClass('btn-base');
                    })
                    .fail(function() {
                        set_error_message($('#id_ajax_message'));
                    });
                }
            });

            // 通知ボタン初期化
            call_get_notify_if_filled()
            .done(function(res) {
                if (res.error) {
                    set_error_message($('#id_ajax_message'), res.error);
                    return;
                }
                if (res.notify_if_filled == 'ON') {
                    $('#notify_if_filled_on_button').click();
                } else {
                    $('#notify_if_filled_off_button').click();
                }
            })
            .fail(function() {
                set_error_message($('#id_ajax_message'));
            });

            $('#add_alert_button').on('click', function() {
                var threshold = $('#id_notice_rate').val();
                var pair = $('#id_pair').val();
                var over_or_under;

                if (threshold == '' || threshold == 0) {
                    alert('通知金額を入力して下さい');
                    return;
                }

                call_get_ticker_api(pair)
                .done(function(res) {
                    if (res.error) {
                        alert(res.error);
                        return;
                    }
                    if (parseFloat(threshold) >= parseFloat(res.buy)) {
                        over_or_under = '以上';
                    } else {
                        over_or_under = '以下';
                    }
                    call_create_alert(pair, threshold, over_or_under)
                    .done(function(res) {
                        
                        if (res.error) {
                            alert(res.error);
                            return;
                        }
                        $('#id_ajax_message').html('アラートを追加しました');
                        $('#id_ajax_message').addClass('alert-success');
                        $('#id_ajax_message').removeClass('alert-danger');
                        $('#alert_button').click();
                        $('#id_ajax_message').show();
                    })
                    .fail(function() {
                        set_error_message$($('#id_ajax_message'));
                    });
                });
            });
            
            $('#id_filter_by_pair').on('change', function() {
                //activeなタブのボタンをクリック
                $('.tablinks.active').click();
            });

            // 注文時の追加バリデーション
            
            $('#id_order_button').on('click', function(e) {
                e.preventDefault();
                var pair = $('#id_pair').val();
                var order_type = $('#id_order_type').val();
                var side = $('#id_side').val();
                var price = $('#id_price').val();

                // limit注文の場合
                if (order_type == '指値' || order_type == 'ストップリミット') {
                    call_get_ticker_api(pair)
                    .done(function(res) {
                        if (res.error) {
                            set_error_message($('#id_ajax_message'), res.error);
                            return;
                        }
                            
                        if (order_type == '指値') {
                            if ((side == 'buy' && parseFloat(res.buy) < price) || (side == 'sell' && parseFloat(res.sell) > price)){
                                $.confirm({
                                    title: '<span style="color:black>確認</span>',
                                    content: '<span style="color:black">注文後即約定されますがこの価格でよろしいですか</span>',
                                    buttons: {
                                        confirm: {
                                            text: '続行',
                                            btnClass: 'btn-blue',
                                            action: function () {
                                                $('form').submit();
                                                //$.alert('<span style="color:black">注文しました</span>');
                                            }
                                        },
                                        cancel:{
                                            text: 'キャンセル',
                                            btnClass: 'btn-red',
                                            action: function () {
                                            },
                                        }
                                    }
                                });
                            }
                        }
                    })
                    .fail(function() {
                        set_error_message($('#id_ajax_message'));
                    });
                }
            });
            $('#order_button').click();
        });
        
    </script>
{% endblock %}