{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
        
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="row">
        
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">通貨</span>
                        </div>
                        {{form.pair}}
                        {{ form.pair.errors }}
                    </div>
                </div>
                
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">特殊注文</span>
                        </div>
                        {{form.special_order}}
                        {{ form.special_order.errors }}
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="card" style="border:none">
                <div class="card-header">
                    保有資産
                </div>
                <div class="card-body">
                    <table id="asset_table" class="table table-sm table-dark">
            
                        <tr><th>合計評価額</th><td align="right" id="total_in_jpy"></td></tr>
                        <tr><th>日本円</th><td align="right" id="jpy"></td></tr>
                        <tr><th>ビットコイン</th><td align="right" id="btc"></td></tr>
                        <tr><th>リップル</th><td align="right" id="xrp"></td></tr>
                        <tr><th>ライトコイン</th><td align="right" id="ltc"></td></tr>
                        <tr><th>イーサリアム</th><td align="right" id="eth"></td></tr>
                        <tr><th>モナーコイン</th><td align="right" id="mona"></td></tr>
                        <tr><th>ビットコインキャッシュ</th><td align="right" id="bcc"></td></tr>
                        
                    </table>
                </div>
            </div>
                
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="row">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="btn-group d-flex" role="group">
                        <button id="buy_button" type="button" class="btn w-100 btn-base">買い</button>
                        <button id="sell_button" type="button" class="btn w-100 btn-base">売り</button>
                    </div>
                </div>
            </div>
                
            <div class="input-group xs-3" style="display: none">
                {{form.side}}
                {{ form.side.errors }}
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">注文方法</span>
                        </div>
                        {{form.order_type}}
                        {{ form.order_type.errors }}
                    </div>
                </div>
            </div>
            
            <hr>
            <div style="display: none" class="row show_if_limit">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">注文価格</span>
                        </div>
                        {{form.price}}
                        {{form.price.errors}}                    
                        <div class="input-group-append">
                            <span class="my_placeholder pair">jpy</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: none" class="row show_if_stop_limit">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">逆指値指値</span>
                        </div>
                        {{form.price_for_stop_limit}}
                        {{form.price_for_stop_limit.errors}}                    
                        <div class="input-group-append">
                            <span class="my_placeholder pair">jpy</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>  
            
            <hr>            
            <div class="row">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">注文数量</span>
                        </div>
                        {{form.start_amount}}
                        {{form.start_amount.errors}}
                        <div class="input-group-append">
                            <span class="my_placeholder unit">btc</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row d-flex justify-content-center">
                    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="0"/>
                    <span id="amount_percentage"></span>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="my_placeholder">予想</span>
                        </div>
                        <input type="number" id="expect_price" class="form-control">
                        <div class="input-group-append">
                            <span class="my_placeholder pair">jpy</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>

            <hr>
            <div class="row">
                <div class="col-md-8 offset-md-3 col-xs-12">
                    <div class="input-group">
                        <button id="id_order_button" type="submit" class="btn btn-lg btn-block red_button">注文</button>
                    </div>  
                </div>
            </div>
                  
        </div>
        
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <label class="control-label" for="id_notify_if_filled">約定通知</label>
                    <div class="btn-group d-flex" role="group">
                        <button id="notify_if_filled_off_button" type="button" class="btn w-100 btn-base">OFF</button>
                        <button id="notify_if_filled_on_button" type="button" class="btn w-100 btn-base">ON</button>
                        
                    </div>
                </div>  
            </div>
            
            <div style="display: none" class="input-group xs-3">
                {{form.notify_if_filled}}
                {{form.notify_if_filled.errors}}
                
            </div>
        </div> 
    </div>
    <hr>
    <div class="row">
        <div class="col-md-11 offset-md-1 col-xs-12" style="font-size: 2vmin">
            <div class="tab">
                <button id="order_orders_button" type="button" class="tablinks" onclick="openTab(event, 'active_orders')">アクティブ注文</button>
                <button id="stop_order_button" type="button" class="tablinks" onclick="openTab(event, 'stop_orders')">ストップ注文</button>
                <button id="order_history_button" type="button" class="tablinks" onclick="openTab(event, 'order_history')">注文履歴</button>
                
                <button type="button" class="tablinks" onclick="openTab(event, 'alerts')">アラート</button>
            </div>
                
            <div id="active_orders" class="tabcontent">
                <table class="table table-responsive table-dark">
                    <thead>
                            <th>注文ID</th>
                            <th>通貨ペア</th>
                            <th>タイプ</th>
                            <th>売買</th>
                            <th>数量</th>
                            <th>価格</th>
                            <th>約定済数量</th>
                            <th>平均価格</th>
                            <th>注文日時</th>
                            <th>ステータス</th>
                            <th>キャンセル</th>  
                    </thead>
                    <tbody>
                           
                    </tbody>  
                </table>
            </div>
                
            <div id="order_history" class="tabcontent">
                <table class="table table-responsive table-dark">
                    <thead>
                        <th>注文ID</th>
                        <th>通貨ペア</th>
                        <th>タイプ</th>
                        <th>売買</th>
                        <th>数量</th>
                        <th>価格</th>
                        <th>約定済数量</th>
                        <th>平均価格</th>
                        <th>注文日時</th>
                        <th>ステータス</th>  
                    </thead>
                    <tbody>

                    </tbody>  
                </table>        
            </div>
            <div id="stop_orders" class="tabcontent">
                <table class="table table-responsive table-dark">
                    <thead>
                        <th>通貨ペア</th>
                        <th>タイプ</th>
                        <th>売買</th>
                        <th>数量</th>
                        <th>価格</th>
                        <th>ストップ注文価格</th>
                        
                    </thead>
                    <tbody>
                        
                    </tbody>  
                </table>        
            </div>
            <div id="alerts" class="tabcontent">
                
                <table class="table table-responsive table-dark">
                    <thead>
                        <th>通貨ペア</th>
                        <th>閾値</th>
                        <th>上下</th>
                    </thead>
                    <tbody>
                        {% for alert in alerts %}
                        <tr>
                            <td>{{ alert.pair }}</td>
                            <td>{{ alert.threshold }}</td>
                            <td>{{ alert.over_or_below }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>  
                </table>        
            </div>
        </div>
    </div>        
</form>
{% endblock %}
{% block extra_js %}
    <script>
        function call_cancel_order(pair, order_id) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_cancel_order" %}',
                'type': 'POST',
                'dataType': 'json',
                'data': {
                    pair: pair,
                    order_id: order_id
                }
            });
        }
        function call_cancel_stop_order(pk) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_cancel_stop_order" %}',
                'type': 'POST',
                'dataType': 'json',
                'data': {
                    pk: pk
                }
            });
        }


        function call_get_active_orders() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_active_orders" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }
        function call_get_order_history() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_order_history" %}',
                'type': 'GET',
                'dataType': 'json'
            });
            
        }
        function call_get_stop_orders() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_stop_orders" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }
        
        function get_datetime_string(unix_time) {
            // Create a new JavaScript Date object based on the timestamp
            // multiplied by 1000 so that the argument is in milliseconds, not seconds.
            var date = new Date(unix_time*1000);
            var y = date.getFullYear();
            var m = ("00" + (date.getMonth()+1)).slice(-2);
            var d = ("00" + date.getDate()).slice(-2);
            var formattedDate = y + "/" + m + "/" + d;
            // Hours part from the timestamp
            var hours = date.getHours();
            // Minutes part from the timestamp
            var minutes = "0" + date.getMinutes();
            // Seconds part from the timestamp
            var seconds = "0" + date.getSeconds();

            // Will display time in 10:30:23 format
            var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);

            return formattedDate + ' ' + formattedTime;
        }
        
        function hyphen_if_null(subj) {
            if (subj == null || subj == undefined) {
                return '-';
            } else {
                return subj;
            }
        } 
        function openTab(evt, tab_id) {
            // Declare all variables
            var i, tabcontent, tablinks;

            switch( tab_id ) {
                case 'active_orders':
                    call_get_active_orders()
                    .done(function(res) {
                        var table_html;

                        $.parseJSON(res.active_orders).forEach(active_order => {
                            table_html += '<td>' + active_order.fields.order_id + '</td>';
                            table_html += '<td>' + active_order.fields.pair + '</td>';
                            table_html += '<td>' + active_order.fields.order_type + '</td>';
                            table_html += '<td>' + active_order.fields.side + '</td>';
                            table_html += '<td>' + active_order.fields.start_amount + '</td>';
                            table_html += '<td>' + hyphen_if_null(active_order.fields.price) + '</td>';
                            table_html += '<td>' + hyphen_if_null(active_order.fields.executed_amount) + '</td>';
                            table_html += '<td>' + hyphen_if_null(active_order.fields.average_price) + '</td>';
                            table_html += '<td>' + hyphen_if_null(active_order.fields.ordered_at) + '</td>';
                            table_html += '<td>' + hyphen_if_null(active_order.fields.status) + '</td>';
                            table_html += '<td><button type="button" class="btn btn-sm red_button" id="cancel_order_button">キャンセル</button></td>';
                            
                        });
                        
                        $('#active_orders > table > tbody').html(table_html);
                        //キャンセルボタンクリック時のイベント追加
                        $('#cancel_order_button').on('click', function() {
                            var order_id = $(this).parent().prevAll().eq(9).html();
                            var pair = $(this).parent().prevAll().eq(8).html();
                            call_cancel_order(pair, order_id)
                            .done(function(res) {
                                if (res.error) {
                                    alert(res.error);
                                    return;
                                }
                            
                                alert('注文がキャンセルされました。');
                                $('#order_history_button').click();
                            })
                            .fail(function() {

                            });
                            
                        });
                    })
                    .fail(function() {
                        alert('get_active_orders failed');
                    });

                    break;


                case 'order_history':
                    call_get_order_history()
                    .done(function(res) {
                        var table_html;

                        $.parseJSON(res.order_history).forEach(order => {
                            table_html += '<tr>';
                            table_html += '<td>' + order.fields.order_id + '</td>';
                            table_html += '<td>' + order.fields.pair + '</td>';
                            table_html += '<td>' + order.fields.order_type + '</td>';
                            table_html += '<td>' + order.fields.side + '</td>';
                            table_html += '<td>' + order.fields.start_amount + '</td>';
                            table_html += '<td>' + hyphen_if_null(order.fields.price) + '</td>';
                            table_html += '<td>' + order.fields.executed_amount + '</td>';
                            table_html += '<td>' + order.fields.average_price + '</td>';
                            table_html += '<td>' + order.fields.ordered_at + '</td>';
                            table_html += '<td>' + order.fields.status + '</td>';
                            table_html += '</tr>';
                        });
                        $('#order_history > table > tbody').html(table_html);
                    })
                    .fail(function() {
                        alert('get_order_history failed');
                    });
                    break;
                
                case 'stop_orders': 
                    call_get_stop_orders()
                    .done(function(res) {
                        var table_html;
                        $.parseJSON(res.stop_orders).forEach(stop_order => {
                            table_html += '<tr>';
                            table_html += '<td>' + stop_order.fields.pair + '</td>';
                            table_html += '<td>' + stop_order.fields.order_type + '</td>';
                            table_html += '<td>' + stop_order.fields.side + '</td>';
                            table_html += '<td>' + stop_order.fields.start_amount + '</td>';
                            table_html += '<td>' + hyphen_if_null(stop_order.fields.price) + '</td>';
                            table_html += '<td>' + hyphen_if_null(stop_order.fields.price_for_stop_limit) + '</td>';
                            table_html += '<td><button name="' + stop_order.fields.pk + '"  type="button" class="btn btn-sm red_button" id="cancel_stop_order_button">キャンセル</button></td>';
                            table_html += '</tr>';
                        });

                        $('#stop_orders > table > tbody').html(table_html);

                        $('#cancel_stop_order_button').on('click', function() {
                            var pk = $(this).attr('name');
                            call_cancel_stop_order(pk)
                            .done(function(res) {
                                if (res.error) {
                                    alert(res.error);
                                    return;
                                }
                                alert('注文がキャンセルされました。');
                                $('#stop_orders_button').click();
                            })
                            .fail(function() {

                            });
                            
                        });
                    })
                    .fail(function() {
                        alert('get_stop_orders failed');
                    });
                    break;
            }



            // Get all elements with class="tabcontent" and hide them
            $('.tabcontent').each((i, tabcontent) => {
                $(tabcontent).hide();
            });
        

            // Get all elements with class="tablinks" and remove the class "active"
            $('.tablinks').each((i, tablink) => {
                $(tablink).removeClass('active');
            });

            // Show the current tab, and add an "active" class to the button that opened the tab
            $('#' + tab_id).show();
            evt.currentTarget.className += " active";
        }

        function call_get_assets_api() {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_assets" %}',
                'type': 'GET',
                'dataType': 'json'
            });
        }

        function call_get_ticker_api(pair) {
            return $.ajax({
                'url': '{% url "bitbank:ajax_get_ticker" %}',
                'type': 'GET',
                'dataType': 'json',
                'data': {
                    'pair': pair
                },
            });
        }
        
        $(function() {
            // スライダー初期化
            $('#ex1').slider({
                formatter: function(value) {
                    return 'Current value: ' + value;
                },
            });

            
            // スライダーイベント
            $('#ex1').slider().on('slideStop', function(ev){
                var newVal = $('#ex1').data('slider').getValue();
                $('#amount_percentage').html(newVal + '%');

                if($('#id_pair').val() == '') {
                    return;
                }
                var currency = $('#id_pair').val().split('_')[1];
                var free_amount = free_amounts[currency];
                
               
                if ($('#id_order_type').val() == '指値' || $('#id_order_type').val() == '逆指値' || $('#id_order_type').val() == 'ストップリミット') {
                    if ($('#id_price').val() != '' && $('#id_price').val() != 0) {
                        var floored = Math.floor((free_amount * newVal / ($('#id_price').val() * 100)) * 10000) / 10000 
                        $('#id_start_amount').val(floored);
                        $('#expect_price').val(Math.floor($('#id_price').val() * floored));                        
                    }
                } else if ($('#id_order_type').val() == '成行') {
                    var current_price;
                    call_get_ticker_api($('#id_pair').val())
                    .done(function (val) {
                        if ($('#id_side').val() == 'sell') {
                            current_price = val.sell;
                        } else {
                            current_price = val.buy;
                        }
                        var floored = Math.floor((free_amount * newVal / (current_price * 100)) * 10000) / 10000 
                        $('#id_start_amount').val(floored);
                        $('#expect_price').val(Math.floor(current_price * floored));                        
                    })
                    .fail(function() {
                        alert('現在のTickerを取得できませんでした。');
                    })
                    .always(function() {
                    });
                }
            });
            
            

            // 通貨変更時に数量、金額の通貨部分を更新
            $('#id_pair').on('change', function() {
                var unit = $('#id_pair').val().split('_')[0];
                var currency = $('#id_pair').val().split('_')[1];
                if (currency != '') {
                    $('span.pair').html(currency);
                    $('span.unit').html(unit);
                }
            });

            //タイプによって金額入力ボックス表示・非表示
            $('#id_order_type').on('change', function() {
                if ($('#id_order_type').val() == '成行') {
                    $('.show_if_limit').hide();
                    $('.show_if_stop_limit').hide();
                } else if($('#id_order_type').val() == 'ストップリミット') {
                    $('.show_if_limit').show();
                    $('.show_if_stop_limit').show();
                } else {
                    $('.show_if_limit').show();
                    $('.show_if_stop_limit').hide();
                }
            });
            

            // 売り買いボタン初期化
            if ($('#id_side').val() == 'sell') {
                $('#sell_button').addClass('sell').removeClass('btn-base');
                $('#buy_button').removeClass('buy').addClass('btn-base');
            } else {
                $('#buy_button').addClass('buy').removeClass('btn-base');
                $('#sell_button').removeClass('sell').addClass('btn-base');
            }

            //通知ボタン初期化
            if ($('#id_notify_if_filled').val() == 'ON') {
                $('#notify_if_filled_on_button').addClass('on').removeClass('btn-base');
                $('#notify_if_filled_off_button').removeClass('off').addClass('btn-base');
            } else {
                $('#notify_if_filled_off_button').addClass('off').removeClass('btn-base');
                $('#notify_if_filled_on_button').removeClass('on').addClass('btn-base');
            }

            
            //SELLボタンクリック
            $('#sell_button').on('click', function() {
                $('#sell_button').addClass('sell').removeClass('btn-base');
                $('#buy_button').removeClass('buy').addClass('btn-base');
                $('#id_side').val('sell');
            });
            
            //BUYボタンクリック
            $('#buy_button').on('click', function() {
                $('#buy_button').addClass('buy').removeClass('btn-base');
                $('#sell_button').removeClass('sell').addClass('btn-base');
                $('#id_side').val('buy');
            });

            //通知ONボタンクリック
            $('#notify_if_filled_on_button').on('click', function() {
                $('#notify_if_filled_on_button').addClass('on').removeClass('btn-base');
                $('#notify_if_filled_off_button').removeClass('off').addClass('btn-base');
                $('#id_notify_if_filled').val('ON');
                
            });
            //通知OFFボタンクリック
            $('#notify_if_filled_off_button').on('click', function() {
                $('#notify_if_filled_off_button').addClass('off').removeClass('btn-base');
                $('#notify_if_filled_on_button').removeClass('on').addClass('btn-base');
                $('#id_notify_if_filled').val('OFF');
                
            });

            
            // 
            asset_names = {
               
            }
            //資産情報取得用
            var free_amounts = {
            };
            
            simbols = {
                'jpy': '¥',
                'btc': '₿'
            }
            call_get_assets_api()
            .done(response => {
                if (response.assets) {
                    var asset_html = "";
                    var total_asset_in_jpy = 0;
                    response.assets.forEach(asset => {
                        free_amounts[asset.asset] = asset.free_amount;
                        $('#' + asset.asset).html(asset.onhand_amount);
                        if (asset.asset == 'ltc' || asset.asset == 'eth') {
                            call_get_ticker_api(asset.asset + '_' + 'btc')
                            .done(function(res) {
                                if (res.code) {
                                    return;
                                }
                                call_get_ticker_api('btc_jpy')
                                .done(function(res2) {
                                    total_asset_in_jpy += parseInt(res.buy) * parseInt(res2.buy) * asset.onhand_amount;
                                    $('#total_in_jpy').html(parseInt(total_asset_in_jpy));
                                })
                                .fail(function() {
                                    alert('failed');
                                });
                            })
                            .fail(function() {
                                alert('fail');
                            });
                        } else if (asset.asset != 'jpy') {
                            call_get_ticker_api(asset.asset + '_jpy')
                            .done(function(res) {
                                total_asset_in_jpy += parseInt(res.buy * asset.onhand_amount);
                                
                                $('#total_in_jpy').html(parseInt(total_asset_in_jpy));
                            })
                            .fail(function() {
                                alert('failed');
                            });
                        } else {
                            total_asset_in_jpy += parseInt(asset.onhand_amount);
                            $('#total_in_jpy').html(parseInt(total_asset_in_jpy));

                        }
                    });
                    //$("#asset_table").html(asset_html);
                } else {
                    if (response.error) {
                        alert(response.error);
                    } else {
                        alert('想定外のエラーです');
                    }
                }
            });
            // 注文時の追加バリデーション
            $('#id_order_button').on('submit', function() {
                //
                if ($('#id_order_type').val() == 'ストップリミット') {
                    if ($('#id_price_for_stop_limit').val() == "" || $('#id_price_for_stop_limit').val() == 0 ) {
                        return false;
                    }
                }
            });


        });
        
    </script>
{% endblock %}