{% extends "bitbank/base.html" %}
{% block content %}
<table class="table table-responsive">
    <thead>
        <th>取引ID</th>
        <th>通貨</th>
        <th>買い/売り</th>
        <th>注文方法</th>
        <th>注文価格</th>
        <th>注文数量</th>
        <th>取引ステータス</th>
        <th>詳細</th>
    </thead>
    <tbody>
       {% for order in order_list %}
        <tr>
            <td>{{ order.order_id }}</td>
            <td>{{ order.pair }}</td>
            <td>{{ order.side }}</td>
            <td>{{ order.order_type }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.start_amount }}</td>
            <td>{{ order.status }}</td>
            <td><a href="{% url 'bitbank:order_detail' order.pk %}">詳細</a></td>
        </tr>
        {% endfor %}            
    </tbody>
</table>
{% endblock %}