{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
<div class="col-6 offset-3">
    <div class="card">
        <div class="card-body">
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="col-md-4">
                <button type="submit" class="btn btn-block green_button">送信</button>
            </div>
        </div>
    </div>
</div>      
</form>
{% endblock %}