{% extends "bitbank/base.html" %}
{% block content %}
<p>top page フォームのイメージ</p>
<div class="container">
    <form>
        <div class="row">
            <div class="col-5">
                    <div class="input-group xs-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">注文方法</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>

                    <div class="input-group xs-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">注文価格</span>
                            </div>
                            <input type="text" class="form-control">
                        </div>
        
    
                </div>
            <div class="col-5">
                <div class="form-group">

                        
                </div>
            </div>
        </div>
        
       
    </form>
</div>
{% endblock %}