{% extends "bitbank/base.html" %}
{% block content %}
<form action="" method="POST">
    <div class="row">
        <div class="col-md-6 offset-md-1 col-xs-12">
            <div class="card">
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {% if field.name == 'notify_if_filled' %}
                            {{ form.notify_if_filled }}
                        {% else %}
                            {{ field }}
                            {{ field.errors }}
                        {% endif %}
                        <hr>
                    {% endfor %}
                    {% csrf_token %}
                    <div class="col-4 offset-4">
                        <button type="submit" class="btn btn-block green_button">登録</button>
                    </div>
                </div>
            </div>             
        </div>
    </div>
</form>
{% endblock %}