@media (min-width: 1100px) {
    /*code for destop*/

    #asset_table {
        font-size: 1vw;
    }

}
@media (max-width: 1100px) {
/*code for ipad and netbooks*/
}
@media (max-width: 480px) {
/*code for mobile here*/



#ex1Slider .slider-selection {
	background: #BABABA;
}

}
html {
    font-size: 3vm;
}
body {
    color: white;
    background: #222222;
    /* background: white; */
}

.form-control {
    color: white;
    background-color : #333333;
    border: none;
    border-radius : 0;
    display: inline;
    /* text-align: right; */
}

div.input-group, div.btn-group {
    padding-left: 5vw;
    padding-right: 5vw;
}


div.input-group-prepend, div.input-group-append {
    color: white;
    background-color : #333333;
    border: none;
    border-radius : 0;
}

select {
    text-align-last:center;
}

.btn {
    color: white;
    border-radius: 0;
}

button.btn-base {
    background: gray;
    color: #008080
}

input[type="number"]{
    text-align: right;
}

div.card {
    border: solid 3px #FF6600;
    background: #222222;
    width: 18rem;
} 

.form-control:focus{
    color: green;
    background-color :#333333;
}

span.my_placeholder {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: gray;
}

button.chosen {
    background: green;
}

.green_button {
    background-color: #008080
}

.red_button {
    background-color: #FF6633
}

    
.errorlist {
    color: red;
}

.form-control::-webkit-input-placeholder { color: #BBBBBB; font-weight: bold}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #BBBBBB; font-weight: bold}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #BBBBBB; font-weight: bold}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #BBBBBB; font-weight: bold}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #BBBBBB; font-weight: bold}  /* Microso

